@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Khula&display=swap');


*{
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: grid;
	grid-template-rows: minmax(50px, 7%) auto;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
	"nav nav" 
	"main main ";
	font-family: arial;
}

nav{
	display: flex;
	grid-area: nav;
	justify-content: space-between;
	align-items: center;
	background-color: #245E31;
	padding: 10px;
	color: white;
	font-size: 30px;
	font-family: arial;
}

nav img{
	min-width: 16px;
	max-width: 32px;
}






aside{
	z-index: 1;
	overflow: hidden;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	right: 0px;
	top: 0px;
	width: 0px;
	background-color: lightgray;
	height: 100%;
	font-family: arial;
	transition: all ease 0.2s;
}

aside .newNote{
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	height: 90%;
	border-radius: 5%;
	overflow: auto;
	background-color: gray;
}

aside .newHeader{
	position: relative;
	display: flex;
	width: 100%;
	height: clamp(5%, 200px, 10%);
	background-color: white;
}

aside .newColor{
	position: absolute;
	place-self: center;
	left: clamp(1%, 20px, 5%);
	height: clamp(5px, 30px, 100%);
	width: clamp(5px, 30px, 20%);
	border: solid 2px #d7d7d7;
	border-radius: 100%;
	background-color: #DCDCDC;
}

aside .newColorInput{
	display: none;
	width: 100%;
	height: 100%;
}
aside .newColorInput input{
	height: 100%;
	width: clamp( 10px, 100px, 50%);
}
aside .newColorInput select{
	height: 100%;
	width: 100%;
}

aside .colorInputs{
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	width: 100%;
	height: 100%;
	color: white;
	background-color: #245E31;
}

aside .newTitle{
	width: 100%;
	height: 100%;
	text-align: center;
}

aside .newText{
	z-index: 1;
	padding: clamp(1%, 20px, 5%);
	width: 100%;
	height: clamp(80%, 500px, 50%);
	outline-color: forestgreen;
	resize: none;
}


aside .newBtns{
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
	width: 100%;
	height: clamp(5%, 40px, 10%);
}

aside .newBtns button{
	width: 100%;
}

aside .newCancel{
	z-index: 1;
	background-color: red;
	color: white;
}

aside .newSave{
	z-index: 1;
	background-color: forestgreen;
	border: none;
	text-decoration: none;
	outline: none;
	color: white;
}

aside .newReturn{
	margin-top: 2%;
	width: 100%;
	height: 8%;
}



main{
	display: flex;
	grid-area: main;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	margin: 15px 7px;
	border: 5px dashed lightgray;
	border-radius: 20px;
	max-height: 100%;
	overflow: auto;
}

main .notes{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 2%;
	height: clamp(50%, 900px, 90%);
	width: 100%;
	overflow: auto;
	display: none;
}

.card{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 10px;
	border: solid 3px;
	width: clamp(100px, 46%, 200px);
	overflow: hidden;
	outline-color: none;
}
.card-options{
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	text-justify: center;
	top: -10px;
	right: 0;
	color: gray;
	padding: 0px 15px;
	padding-top: 0px;
	font-family: poppins;
	font-size: 200%;
	background-color: white;
	height: clamp(10%, 50px, 20%);
}
.card textarea{
	padding: 5px;
	background-color: white;
	font-family: arial;
	width: 100%;
	height: 100%;
	resize: none;
}
.card-title{
	padding: 10px;
	width: 100%;
}
.card-content{
	padding: 10px;
	width: 100%;
	height: 100%;
}
.card-menu{
	display: flex;
	width: 100%;
	height: 0%;
	transition: all ease 0.5s;
}
.card-menu button{
	width: 100%;
}
.card-edit{
	display: flex;
	width: 100%;
	height: 10%;
}
.card-edit button{
	width: 50%;
	height: 100%;
}




.new{
	display: flex;
	align-items: center;
	justify-content: center;
	color: lightgray;
	text-align: center;
	font-size: 150%;
	width: 100%;
	height: 100%;
}
.new b{
	font-size: 200%;
}
.newLink{
	text-decoration: none;
}
.newLink p{
	text-decoration: none;
	color: green;
}