@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Khula&display=swap');

*{
	border: 0px;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: #1E392A lightgray;
	cursor: default;
}
* a:hover{
	cursor: pointer;
}

* ::-webkit-scrollbar {
	width: 3px;
}

* ::-webkit-scrollbar-track{
	background: none;
}

* ::-webkit-scrollbar-thumb {
	border-radius: 12px;
	background-color: #1E392A;
	border: 0px;
}

body{
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	grid-template-rows: repeat(15, 1fr);
	box-sizing: border-box;
}

.principal{
	display: flex;
	flex-direction: column;
	color: white;
	justify-content: space-between;
	text-align: left;
	grid-column: 1/5;
	grid-row: 1/16;
	background-color: #D9D9D9;
	font-family: 'Julius Sans One', sans-serif;
}

.principal img{
	width: 30%;
	height: auto;
	border-radius: 50%;
	padding: 10px;
	padding-right: 0px;
}
.principal p{
	font-size: 100%;
	padding: 20px;
}
.principal p:hover{
	cursor: pointer;
}
.principal div{
	background-color: #417545;
	border-bottom: solid #4B3A7A 3px;
	border-right: solid #4B3A7A 3px;
	transition: all ease 0.7s;
}
.principal div:hover{
	padding-left: 10px;
	cursor: pointer;
	opacity: 90%;
	border-left: solid #4B3A7A 10px;
}

.menu-sobre{
	display: flex;
	align-items: center;
	font-size: 120%;
}
.menu-servicos{
}

.email{
	font-family: 'Arial', sans-serif;
	text-decoration: none;
	font-style: none;
	color: black;
	padding: 10px;
}
.email:hover{
	cursor: pointer;
	opacity: 50%;
}

.sobre{
	display: flex;
	cursor: default;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	grid-row: 1/16;
	grid-column: 5/16;
	box-shadow: 8px 0px 10px 0px #00000040 inset;
	font-family: 'Khula', sans-serif;

}

.sobre h2{
	place-self: flex-start;
	margin: 5% 0px 15px 10%;
}

.pedro{
	display: none;
}


.servicos{
	display: flex;
}
.lista-servicos{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 50px;
	width: 95%;
	overflow: auto;
}
.lista-servicos div{
	padding: 20px;
	color: white;
	background-color: #417545;

}


.projetos{
	display: none;
}

.redes{
	display: none;
}

.button{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	width: 100%;
}

.button a{
	padding: 10px 100px;
	margin: 10px 0px;
	width: 80%;
	text-decoration: none;
	color: white;
	background-color: #245E31;
}

.button a:hover{
	cursor: pointer;
	opacity: 95%;
}

.links{
	display: flex;
	margin: 15px;
}

.links img{
	width: 32px;
	margin: 15px;
	transition: all ease 0.5s;
}

.links img:hover{
	width: 46px;
	margin: 1px 15px;
	cursor: pointer;
}

.texto{
	overflow: auto;
	width: 80%;
}

@media only screen and (max-device-width: 670px) {

	*{
	border: 0px;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	cursor: default;
	}

	* ::-webkit-scrollbar {
		width: 2px;
		height: 0px;
	}

	* ::-webkit-scrollbar-track{
		background: lightgray;
	}

	* ::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background-color: #1E392A;
		border: 0px;
	}

	body{
	display: flex;
	flex-direction: column;
	}

	.principal{
		width: 100%;
		color: white;
		display: flex;
		font-family: 'Julius Sans One', sans-serif;
	}

	.principal img{
		width: 60px;
		height: auto;
		border-radius: 50%;
		padding: 0px;
	}


	.sobre{
		padding-top: 20px;
		display: flex;
		cursor: default;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		grid-column: 1;
		grid-row: 2;
		box-shadow: 0px 8px 10px -5px #00000040 inset;
		font-family: 'Khula', sans-serif;
		height: auto;
	}

	.sobre h2{
		width: 80%;
		font-size: 120%;
	}
	
	.texto{
		width: 80%;
	}

	.links{
		display: flex;
		justify-content: center;
		width: 100%;
		bottom: 0px;
		margin: 0px;
		background-color: #245E31;
		background-color: white;
	}

	.links img{
		width: 32px;
		margin: 15px;
		transition: all ease 0.5s;
	}

	.links img:hover{
		width: 46px;
		margin: 1px 15px;
		cursor: pointer;
	}

	.button a{
		width: 100%;
		margin-bottom: 0;
	}

}